body {
    background-color: #ffecf3;
    color: black;
    font-family: Verdana, Times New Roman, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

span {
    font-weight: bold;
}

header {
    position: fixed;
    grid-area: header;
    background-image: -moz-linear-gradient(90deg,#a51881,#000080,#00BFFF);
    background-image: -webkit-linear-gradient(90deg,#a51881,#000080,#00BFFF);
    background-image: -o-linear-gradient(90deg,#a51881,#000080,#00BFFF);
    color: #00BFFF;
    z-index: 1;
    width: 100%;
}

#autosell {
    display: flex;
    justify-content: flex-start;
    grid-area: autosell;
}

#autosell h1 {
    margin-bottom: 0;
}

#name {
    font-family: Times New Roman, Geneva, sans-serif;
    margin-top: 0;
    margin-left: 0;
    grid-area: name;
}

#header_buttons {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: header_buttons;
}

.head_button p {
    font-size: 2.2vw;
}

.head_button {
    height: 2.8vw;
    width: 60%;
    margin-right: 30px;
    margin-top: 3px;
    font-family: 'Philosopher',Verdana, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: #000080;
    border: 2px solid #000000;
    text-align: center;
    color: #ffffff;
}

.head_button p {
    margin-top: 2%;
}

#footer {
    font-size: 15px;
    margin-top: 20px;
    background-image: -moz-linear-gradient(90deg,#a51881,#000080,#00BFFF);
    background-image: -webkit-linear-gradient(90deg,#a51881,#000080,#00BFFF);
    background-image: -o-linear-gradient(90deg,#a51881,#000080,#00BFFF);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: #FFFFFF;
    grid-area: footer;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact p {
    margin: 3px;
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

.fourth {
    grid-area: fourth;
}

.fifth {
    grid-area: fifth;
}